<section class="content5 cid-s0bsQkplRB" id="content05-c">


    <div class="container">
        <div class="mbr-row">
            <div class="mbr-col-lg-6 mbr-col-md-12 mbr-col-sm-12">
                <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-3 align-left display-2">Product Care and
                    Tips</h3>

            </div>
        </div>
    </div>
</section>

<section class="content6 cid-s0bsm6ACwt" id="content06-4">

    {{ siteConfig.careAndTips|raw }}
</section>
