<section class="header1 cid-s0bsc2KgEB" id="header01-1">


    <div class="container-fluid mbr-white">
        <div class="mbr-row">
            <div class="mbr-col-lg-5 mbr-col-md-12 mbr-m-auto mbr-col-sm-12 md-pb">
                <div class="content">

                    <h1 class="mbr-section-title mbr-fonts-style align-left mbr-pb-2 display-1">{% block headerTitle %} {% endblock %}</h1>
                    <p class="mbr-fonts-style mbr-text align-left mbr-pb-5  display-7">{% block headerSub %} {% endblock %}</p>
                    <div class="mbr-section-btn align-left"><a class="btn btn-md btn-white-outline display-4" href="#"><span class="mobi-mbri mobi-mbri-right mbr-iconfont mbr-iconfont-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="19" height="19"><path d="M24 11l-6.7 6.7-1.4-1.4 4.3-4.3H0v-2h20.2l-4.3-4.3 1.4-1.4L24 11z"></path></svg></span>Discover</a>
                    </div>
                </div>
            </div>
            <div class="mbr-col-lg-7 mbr-col-md-12 img-col mbr-m-auto mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="{% block imgUrl %} {% endblock %}" alt="" width="1099.8670212765958" height="919" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div></div>

                    </amp-img>
                </div>
            </div>
        </div>
    </div>
</section>