<section class="clients1 cid-s0bsyNmprb" id="clients01-9">


    <div class="container">
        <div class="mbr-row mbr-jc-c">
            <div class="mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                <h3 class="mbr-section-subtitle mbr-black mbr-fonts-style mbr-pb-5 align-left display-5">Seen on
                    Press</h3>
                <p class="mbr-fonts-style mbr-text align-left mbr-pb-3 display-5">"Lorem ipsum dolor sit amet consectetur adipiscing
                    commodo suscipit"</p>
            </div>

            <div class="line"></div>

            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="assets/images/1.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div></div>

                    </amp-img>
                </div>

            </div>

            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="assets/images/2.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div></div>

                    </amp-img>
                </div>

            </div>
            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="assets/images/3.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div></div>

                    </amp-img>
                </div>

            </div>
            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="assets/images/4.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div></div>

                    </amp-img>
                </div>

            </div>
            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="assets/images/5.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div></div>

                    </amp-img>
                </div>

            </div>
            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="assets/images/1.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div></div>

                    </amp-img>
                </div>

            </div>
            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="assets/images/2.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div></div>

                    </amp-img>
                </div>

            </div>
            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="assets/images/3.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div></div>

                    </amp-img>
                </div>

            </div>
            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="assets/images/4.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div></div>

                    </amp-img>
                </div>

            </div>

            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="assets/images/5.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div></div>

                    </amp-img>
                </div>

            </div>

        </div>
    </div>
</section>